body {
    background-color: #F2E6D8;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #333;
}

h1 {
    font-family: proxima-nova, ltc-globe-gothic, serif;
    font-size: 1.5rem;
}

h2 {
    font-family: proxima-nova, freight-text-pro, goodlife-sans-condensed, serif;
    font-size: 1.4rem;
}

h5 {
    font-family: goodlife-script, sans-serif;
}

.heading {
    padding-left: 30%;
    padding-right: 30%;
}

.navigation .navbar-brand-orange {
    color: #f2714f;
    font-family: jubilat, goodlife-sans-condensed, serif;
    font-size: 2rem;
}

.navigation .navbar-brand {
    color: #F2E6D8;
    font-family: jubilat, goodlife-sans-condensed, serif;
    font-size: 2rem;
}

.nav-link {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-color {
    background-color: #F2E6D8;
}

.column-background {
    background-color: lightslategray;
}

.font-black {
    color: #333;
}

a:hover {
    color: black;
}

.color-block {
    width: 0;
    height: 0;
    border-top: 100vw solid #f2714f;
    border-left: 100vw solid transparent;
}

.color-block-small {
    border-top: 40vw solid #f2714f;
    border-left: 50vw solid transparent;
    top: 0px;
    right: 0px;
}

.mt-10rem {
    margin-top: 5rem;
}

.grey-hr {
    border: none;
    height: 1px;
    background-color: #333;
}

.light-grey-hr {
    border: none;
    height: 1px;
    background-color: #79736c;
}

.column-grey {
    background-color: #2f3031;
}

.caption {
    font-family: jubilat, serif;
    font-size: .8rem;
}