body {
    background-color: #F2E6D8;/*#b6c1d3;/*#c1dbd4;/*#4abdac;/*#f0e8d4;/*#dad6d6;/*#e2e2e2;*/
    font-family: proxima-nova, brandon-grotesque, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #333;
}

h1 {
    font-family: proxima-nova, ltc-globe-gothic, serif;
    font-size: 1.5rem;
}

h2 {
    font-family: freight-text-pro, goodlife-sans-condensed, serif;
    font-size: 1.4rem;
}

h4 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    font-style: italic;
}

h5 {
    font-family: goodlife-script, sans-serif;
}

.heading {
    padding-left: 30%;
    padding-right: 30%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: row;
}

article {
    background: #333;
    color: #e2e2e2;
    position: relative;
    display: block;
    border-radius: 0px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.navigation .navbar-brand {
    color: #F2E6D8;/*#f2714f;/*#fc7753;/*lightsalmon;*/
    font-family: jubilat, goodlife-sans-condensed, serif;
    font-size: 2rem;
}

.nav-link {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer-color {
    background-color: #F2E6D8;
}

.orange-title {
    color: lightsalmon;
    font-family: goodlife-sans-condensed, sans-serif;
}

.blue-title {
    color: #333;
    font-family: freight-text-pro, goodlife-sans-condensed, serif;
}

.column-background {
    background-color: lightslategray;
}

.item-center {
    margin-left: auto;
    margin-right: auto;
}

.font-black {
    color: #333;
}

a:hover {
    color: lightslategray;
}

.color-block {
    width: 0;
    height: 0;
    border-top: 100vw solid #f2714f;
    border-left: 100vw solid transparent;
}

.mt-10rem {
    margin-top: 7rem;
}
