body {
  font-family: fieldwork, proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #333;
}

h1 {
  font-family: museo-slab, proxima-nova, sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: fieldwork, museo-slab, proxima-nova, sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

h3 {
  font-family: museo-slab, proxima-nova, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
}

.pull-quote {
  font-family: museo-slab;
  font-weight: 500;
  font-size: 2.7rem;
  color: #826ec3;
  text-align: center;
}

.pull-quote-author {
  font-family: fieldwork;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: right;
}

.heading {
  padding-left: 30%;
  padding-right: 30%;
}

.navigation .navbar-brand-orange {
  color: #f2714f;
  font-family: jubilat, sans-serif;
  font-size: 2rem;
}

.navigation .navbar-brand {
  color: #f2714f; /*#F2E6D8;*/
  font-family: jubilat, sans-serif;
  font-size: 2rem;
}

.nav-link {
  font-family: museo-slab, input-mono, monospace;
  font-weight: 400;
}

.nav-link:hover {
  color: black;
}

.footer-color {
  background-color: #ffffff; /*#F2E6D8;*/
}

a {
  color: #333;
}

a:hover {
  color: #f2714f;
  text-decoration: none;
}

.color-block {
  width: 0;
  height: 0;
  border-top: 100vw solid #ffffff;
  border-left: 100vw solid transparent;
}

.color-block-small {
  border-top: 5vw solid #f2714f;
  border-left: 5vw solid transparent;
  top: 0px;
  right: 0px;
}

.grey-hr {
  border: none;
  height: 1px;
  background-color: #333;
}

.caption {
  font-family: proxima-nova, sans-serif;
  font-size: 0.8rem;
  font-style: italic;
}

.body-container {
  margin-left: 13%;
  margin-right:13%;
}

.container {
  margin: 0;
  max-width: none;
}

.pagination-item {
  font-family: museo-slab, sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.pagination-item-next {
  margin-left: auto;
  justify-content: flex-end;
}

.color-box {
  background-color: #fea087;
  border-radius: 3px;
  padding: 1rem;
  height: auto;
}

.caps-text {
  text-transform: uppercase;
  font-weight: 700;
}

.category-text {
  text-transform: uppercase;
  font-weight: 400;
  color: #f2714f;
}

.full-width-bg-color {
  height: 100%;
  background: linear-gradient(0deg, #826ec346 75%, #ffffff 25%);
}

.drop-shadow {
  filter: drop-shadow(rgba(220, 220, 220, 0.475) -.7rem .7rem 7px);
}
