body {
    background-color: #e2e2e2;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

h1 {
    font-family: ltc-globe-gothic, sans-serif;
}

h2 {
    font-family: goodlife-sans-condensed, sans-serif;
    font-size: 2.2rem;
}

h4 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    font-style: italic;
}

h5 {
    font-family: goodlife-script, sans-serif;
}

.heading {
    padding-left: 30%;
    padding-right: 30%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: row;
}

article {
    background: #333;
    color: #e2e2e2;
    position: relative;
    display: block;
    border-radius: 0px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.thumbnail {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

img {
    height: 15rem;
    min-width: 100%;
    object-fit: cover;
}

.navigation .navbar-brand {
    /* color: blanchedalmond; */
    color: lightsalmon;
    font-family: goodlife-sans-condensed, sans-serif;
    font-size: 2rem;
}

.navigation {
    background-color: lightslategray;
    box-shadow: 0px 5px 5px 0px lightslategray; /* #ddb490; */
}

.nav-link {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
}

.footer-color {
    background-color: #e2e2e2;
}